<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <title>CodeLunch.fm</title>
</head>
<body>

<header class="cl-navbar">
  <div class="cl-container">
    <div class="cl-row">
      <div class="cl-col">
        <a href="https://twitter.com/h13i32maru">
          <span class="cl-icon-twitter"></span>
          <span>@h13i32maru</span>
        </a>
      </div>
      <div class="cl-col">
        <a href="https://twitter.com/iizukak">
          <span class="cl-icon-twitter"></span>
          <span>@iizukak</span>
        </a>
      </div>
      <div class="cl-col">
        <a href="/rss.xml">
          <span class="cl-icon-rss"></span>
          <span>RSS</span>
        </a>
      </div>
    </div>
  </div>
</header>

<a href="../">
  <div class="cl-doc-header"></div>
</a>

<div class="cl-container cl-doc-body cl-doc-vol-body">
  <section>
    <div class="cl-row">
      <div class="cl-col">
        <span class="cl-icon-number-bg"><span id="cl-vol-number">1</span></span>
      </div>
      <div class="cl-col cl-title-outer">
        <p id="cl-date" class="cl-date">9999/99/99</p>
        <p id="cl-title" class="cl-title">タイトル</p>
      </div>
    </div>

    <div>
      <p id="cl-text" class="cl-text">説明文</p>
      <p id="cl-notice" class="cl-notice">notice</p>
    </div>

    <div id="cl-audio" class="cl-audio">
      <audio preload="none" controls="" src="episode999.mp3"></audio>
      <div class="cl-download"><span class="cl-time"></span><a href="episode.mp3">Download</a></div>
    </div>

    <div>
      <span class="cl-icon-related-words"></span>
      <ul id="cl-related-words" class="cl-related-words">
        <li><a href="" target="_blank">関連リンク</a></li>
    </ul>
  </section>
</div>

<footer class="cl-doc-footer">
  <div class="cl-container">
    <span class="cl-icon-logo"></span>

    <div class="cl-row">
      <div class="cl-col">
        <a href="https://twitter.com/h13i32maru">
          <span class="cl-icon-twitter"></span>
          <span>@h13i32maru</span>
        </a>
      </div>
      <div class="cl-col">
        <a href="https://twitter.com/iizukak">
          <span class="cl-icon-twitter"></span>
          <span>@iizukak</span>
        </a>
      </div>
      <div class="cl-col">
        <a href="/rss.xml">
          <span class="cl-icon-rss"></span>
          <span>RSS</span>
        </a>
      </div>
    </div>
  </div>
</footer>

<footer class="cl-copyright-footer">
  <div class="cl-container">
    <div class="cl-copyright">
      <p>COPYRIGHT 2014 BY CODE LUNCH ALL RIGHTS RESERVED</p>
    </div>
  </div>
</footer>

<script src="../js/analytics.js"></script>
</body>
</html>
