<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <title>CodeLunch.fm</title>
</head>
<body>

<a href="../">
  <div class="cl-doc-header"></div>
  <div class="cl-doc-title"><a href="/">Code Lunch Podcast</a><a href="/rss.xml" class="cl-icon-rss"></a></div>
</a>
<div class="cl-doc-author">by <a class="cl-twitter" href="https://twitter.com/h13i32maru">@h13i32maru</a> and <a class="cl-twitter" href="https://twitter.com/iizukak">@iizukak</a></div>

<div class="cl-container cl-doc-body cl-doc-vol-body">
  <section>
    <div class="cl-row">
      <span class="cl-vol-label">Vol.</span><span id="cl-vol-number" class="cl-vol-number">1</span>
      <span id="cl-title" class="cl-title">Webフロントエンド</span>
    </div>

    <div>
      <p id="cl-text" class="cl-text">説明文</p>
      <p id="cl-notice" class="cl-notice">notice</p>
      <p id="cl-date" class="cl-date">2013/12/15</p>
    </div>


    <div id="cl-audio" class="cl-audio">
      <audio preload="none" controls="" src="episode999.mp3"></audio>
      <div class="cl-download"><span class="cl-time"></span><a href="episode.mp3">Download</a></div>
    </div>

    <div>
      <span class="cl-show-notes-label">Show Notes</span>
      <ul id="cl-show-notes" class="cl-show-notes">
        <li><a href="" target="_blank">関連リンク</a></li>
    </ul>
  </section>
</div>

<footer class="cl-copyright-footer">
  <div class="cl-container">
    <div class="cl-copyright">
      <p>Copyright 2013 - 2015 by <a href="http://blog.h13i32maru.jp">Ryo Maruyama</a> all right reserved.</p>
    </div>
  </div>
</footer>

<script src="../js/analytics.js"></script>
</body>
</html>
