<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <title>CodeLunch.fm</title>
</head>
<body>

<!--<header class="cl-navbar">-->
  <!--<div class="cl-container">-->
    <!--<div class="cl-row">-->
      <!--<div class="cl-col">-->
        <!--<a href="https://twitter.com/h13i32maru">-->
          <!--<span class="cl-icon-twitter"></span>-->
          <!--<span>@h13i32maru</span>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="cl-col">-->
        <!--<a href="https://twitter.com/iizukak">-->
          <!--<span class="cl-icon-twitter"></span>-->
          <!--<span>@iizukak</span>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="cl-col">-->
        <!--<a href="/rss.xml">-->
          <!--<span class="cl-icon-rss"></span>-->
          <!--<span>RSS</span>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</header>-->

<div class="cl-doc-header"></div>
<div class="cl-doc-title"><a href="/">Code Lunch Podcast</a><a href="/rss.xml" class="cl-icon-rss"></a></div>
<div class="cl-doc-author">by <a class="cl-twitter" href="https://twitter.com/h13i32maru">@h13i32maru</a> and <a class="cl-twitter" href="https://twitter.com/iizukak">@iizukak</a></div>

<div class="cl-doc-body-outer">
  <div id="cl-doc-body" class="cl-container cl-doc-body">

    <section>
      <a id="cl-link" href="1">
        <div class="cl-row">
          <span class="cl-vol-label">Vol.</span><span id="cl-vol-number" class="cl-vol-number">1</span>
          <span id="cl-title" class="cl-title">Webフロントエンド</span>
        </div>
        <div>
          <p id="cl-text" class="cl-text">@iizukakと@h13i32maruの二人でWebフロントエンドを中心とした話をしました。</p>
        </div>
      </a>
      <p id="cl-date" class="cl-date">2013/12/15</p>
    </section>

  </div>
</div>

<!--<footer class="cl-doc-footer">-->
  <!--<div class="cl-container">-->
    <!--<span class="cl-icon-logo"></span>-->

    <!--<div class="cl-row">-->
      <!--<div class="cl-col">-->
        <!--<a href="https://twitter.com/h13i32maru">-->
          <!--<span class="cl-icon-twitter"></span>-->
          <!--<span>@h13i32maru</span>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="cl-col">-->
        <!--<a href="https://twitter.com/iizukak">-->
          <!--<span class="cl-icon-twitter"></span>-->
          <!--<span>@iizukak</span>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="cl-col">-->
        <!--<a href="/rss.xml">-->
          <!--<span class="cl-icon-rss"></span>-->
          <!--<span>RSS</span>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</footer>-->

<footer class="cl-copyright-footer">
  <div class="cl-container">
    <div class="cl-copyright">
      <p>Copyright 2013 - 2015 by <a href="http://blog.h13i32maru.jp">Ryo Maruyama</a> all right reserved.</p>
    </div>
  </div>
</footer>

<script src="js/analytics.js"></script>
</body>
</html>
