<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <title>Code Lunch Podcast</title>
</head>
<body>

<header class="cl-navbar">
  <div class="cl-container">
    <div class="cl-row">
      <div class="cl-col">
        <a href="https://twitter.com/h13i32maru">
          <span class="cl-icon-twitter"></span>
          <span>@h13i32maru</span>
        </a>
      </div>
      <div class="cl-col">
        <a href="https://twitter.com/iizukak">
          <span class="cl-icon-twitter"></span>
          <span>@iizukak</span>
        </a>
      </div>
      <div class="cl-col">
        <a href="/rss.xml">
          <span class="cl-icon-rss"></span>
          <span>RSS</span>
        </a>
      </div>
    </div>
  </div>
</header>
<div id="cl-whole-contents">

<div class="cl-doc-header">
  <div class="cl-container">
    <img src="../image/sight-title.png" >
  </div>
</div>

<div class="cl-doc-body-outer">
  <div id="cl-doc-body" class="cl-container cl-doc-body">
    <section>
      <a id="cl-link" href="volume.html">
        <div class="cl-row">
          <div class="cl-col">
            <span class="cl-icon-number-bg"><span id="cl-vol-number">3</span></span>
          </div>
          <div class="cl-col cl-title-outer">
            <p id="cl-date" class="cl-date">2013/12/12</p>
            <p id="cl-title" class="cl-title">タイトル本文</p>
          </div>
        </div>
        <div>
          <p id="cl-text" class="cl-text">テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文テキスト本文</p>
        </div>
        <span class="cl-icon-arrow"></span>
      </a>
    </section>
  </div>
</div>

<div class="cl-whole-footer">

<footer class="cl-doc-footer">
  <div class="cl-container">
    <span class="cl-icon-logo"></span>

    <div class="cl-row">
      <div class="cl-col">
        <a href="https://twitter.com/h13i32maru">
          <span class="cl-icon-twitter"></span>
          <span>@h13i32maru</span>
        </a>
      </div>
      <div class="cl-col">
        <a href="https://twitter.com/iizukak">
          <span class="cl-icon-twitter"></span>
          <span>@iizukak</span>
        </a>
      </div>
      <div class="cl-col">
        <a href="/rss.xml">
          <span class="cl-icon-rss"></span>
          <span>RSS</span>
        </a>
      </div>
    </div>
  </div>
</footer>

<footer class="cl-copyright-footer">
  <div class="cl-container">
    <div class="cl-copyright">
      <p>COPYRIGHT 2014 BY CODE LUNCH ALL RIGHTS RESERVED</p>
    </div>
  </div>
</footer>

</div>

</div>

<script src="js/analytics.js"></script>
</body>
</html>
