* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  font-size: 14px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

  /*https://zenn.dev/takamoso/articles/2020-08-tips*/
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/*bg*/
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, rgb(144 46 141), rgb(66 175 89));
  z-index: -1;
}

/*header*/
header {
  text-align: center;
  margin-top: 16px;
  padding-bottom: 16px;
}

header .logo {
  width: 240px;
  border-radius: 100%;
}

header .title {
  font-size: 2.5em;
  font-weight: bold;
}

header .icons {
  padding: 8px 0;
}

header .icons a {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: gray;
  border-radius: 100%;
  padding: 10px;
  margin: 0 4px;
}

/*episode*/
.episode {
  max-width: 600px;
  margin: auto;
  padding: 12px;
}

.episodes .episode {
  /*border: solid 1px white;*/
  margin-bottom: 32px;
  border-radius: 8px;
}

.episodes .episode:hover {
  /*background: white;*/
  /*color: #444;*/
  /*background: linear-gradient(-45deg, rgb(144 46 141), rgb(66 175 89));*/
  /*border: solid 1px white;*/
}

.episodes .episode .body:hover {
  /*color: #4000ff;*/
  color: #ffd500;
}

.episode .body {
  display: block;
}

.episode .body .date {
  font-size: 0.8em;
  display: inline-block;
}

.episode .body .title {
  margin-top: 2px;
  font-weight: bold;
  font-size: 1.5em;
}

.episode .body .title .number {
  margin-right: 8px;
}

.episode .body .desc {
  padding-top: 8px;
}

.episode iframe {
  margin-top: 12px;
}

.episode .speakers {
  padding-top: 8px;
}

.episode .speakers a {
  display: inline-block;
  margin-right: 8px;
}

.episode .speakers img {
  width: 60px;
  border-radius: 100%;
}

.episode .notes {
  padding-top: 12px;
}

.episode .notes .notes-label {
  font-weight: bold;
}

.episode .notes .note {
  padding: 4px 0;
  margin-left: 20px;
}

.episode .notice {
  background: white;
  padding: 8px;
  font-size: 0.85em;
  border: solid 1px #126012;
  color: #666666;
  border-radius: 4px;
  margin-top: 8px;
}

.episode .notice img {
  width: 20px;
  vertical-align: middle;
  margin-right: 4px;
}

.episode .footer {
  text-align: right;
}

.episode .footer .share {
  background: #1DA1F2;
  border-radius: 4px;
  padding: 4px 8px;
}

/*footer*/
footer {
  text-align: center;
  padding: 40px;
}
