<section>
  <div class="cl-row">
    <span class="cl-vol-label"></span><span class="cl-vol-number" data-ice="number"></span><span>.</span>
    <span class="cl-title" data-ice="title"></span>
  </div>

  <div>
    <p class="cl-text" data-ice="text"></p>
    <p class="cl-notice" data-ice="notice"></p>
    <p class="cl-date" data-ice="date"></p>
  </div>


  <div class="cl-audio">
    <audio preload="none" controls="" data-ice="audio"></audio>
    <div class="cl-download"><span class="cl-time"></span><a data-ice="download">Download</a></div>
  </div>

  <div>
    <span class="cl-show-notes-label">Show Notes</span>
    <ul class="cl-show-notes">
      <li data-ice="showNote"><a href="" target="_blank" data-ice="showNoteLink"></a></li>
    </ul>
  </div>
</section>
