body{
  padding: 0;
  margin: 0;
  /*background-color: #f9f9f9;*/
  background-color:rgb(253, 246, 228);
}

p{
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* for grid system */
.cl-container {
  max-width: 712px;
  margin: auto;
}

.cl-row {
  width: 100%;
}

.cl-row > [class^=cl-col] {
  display: inline-block;
}

/* for icon */
[class^=cl-icon] {
  display: inline-block;
  background-repeat: no-repeat;
}
.cl-icon-twitter {
  background-image: url("../image/Twitter.svg");
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.cl-icon-rss {
  background-image: url("../image/RSS.svg");
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.cl-icon-apple {
  background-image: url("../image/iTunes.svg");
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.cl-icon-number-bg {
  /*background-image: url("../image/number-bg.png");*/
  width: 56px;
  height: 56px;
  text-align: center;
  line-height: 56px;
}
.cl-icon-number-bg > span{
  position: relative;
  top: 5px;
  color: #2d2d2d;
}

.cl-icon-arrow {
  background-image: url("../image/arrow.png");
  width: 32px;
  height: 32px;
}

.cl-icon-logo {
  background-image: url("../image/footer-logo.png");
  width: 168px;
  height: 32px;
}

.cl-icon-related-words {
  background-image: url("../image/title-related.png");
  width: 152px;
  height: 24px;
}

.cl-twitter {
  font-weight: bold;
  color: #444;
}

.cl-twitter img {
  width: 24px;
  height: 24px;
}

/* for navigation bar */
.cl-navbar {
  height:32px;
  line-height: 32px;
  text-align: right;
  background-color: #000;
  color: #fff;
  font-size: 12px;
}

.cl-navbar .cl-col {
  margin: 0 10px;
}

/* for header */
.cl-doc-header-link {
  display: block;
  width: 256px;
  height: 256px;
  margin: auto;

}
.cl-doc-header {
  margin: 20px auto 0 auto;
  width: 256px;
  height: 256px;
}

.cl-doc-header img {
  width: 256px;
  height: 256px;
}

.cl-doc-title {
  padding-top: 10px;
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: #333;
}

@media (max-width: 640px) {
  .cl-doc-title {
    font-size: 24px;
  }
}

.cl-doc-title .cl-icon-rss {
  margin-left: 10px;
}

.cl-doc-author {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}


/*@media (max-width: 640px) {*/
  /*.cl-doc-header {*/
    /*zoom: 0.5;*/
  /*}*/
/*}*/

/* for doc body */
.cl-doc-body {
  /*background-color: #fff;*/
  padding: 10px 0;
  margin: 16px auto 0;
  padding-bottom: 48px;
  color: #2d2d2d;
}

.cl-doc-body section{
  position: relative;
  margin: 20px;
  min-height: 120px;
  /*border-bottom: 1px solid #cfcfcf;*/
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: rgba(255,255,255,1) 0 1px 0;
}

.cl-doc-body section > a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transtion: 0.5s;
}

.cl-doc-body section > a:hover{
  cursor: pointer;
  filter: alpha(opacity=60);
  -ms-filter: "alpha(opacity=60)";
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.cl-doc-body section .cl-date {
  position: absolute;
  right: 0;
  bottom: 10px;
  color: #bbb;
  font-size: 12px;
}

/*@media (max-width: 640px) {*/
  /*.cl-doc-body section .cl-title-outer {*/
    /***/
     /** モバイルでは横幅が小さいのでタイトルが入りきらず横にすごく伸びてしまう.*/
     /** そうすると、レイアウトが崩れてしまうので、80%を最大としておく*/
     /**/
    /*max-width: 70%;*/
  /*}*/

  /*.cl-doc-body section {*/
    /*padding-bottom: 20px;*/
  /*}*/
/*}*/

.cl-vol-label {
  font-weight: bold;
  font-size: 14px;
}

.cl-vol-number {
  font-weight: bold;
  font-size: 14px;
}

.cl-doc-body section .cl-title {
  margin: -6px 0 0 4px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.cl-doc-body section .cl-text {
  padding: 10px 0;
  font-size: 14px;
}

.cl-doc-body section .cl-notice {
  font-size: 12px;
  padding: 10px 0 0 0;
}

.cl-doc-body section .cl-icon-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -16px;
}

/* for doc vol body */
.cl-doc-vol-body {
  height: auto;
}

.cl-doc-vol-body > section{
  height: auto;
}

.cl-doc-vol-body .cl-audio {
  margin-top: 20px;
}

.cl-doc-vol-body .cl-audio audio {
  width: 100%;
}

.cl-doc-vol-body .cl-audio .cl-download {
  text-align: right;
}

.cl-doc-vol-body .cl-audio .cl-download .cl-time {
  padding-right: 10px;
}

.cl-doc-vol-body .cl-show-notes-label  {
  font-weight: bold;
}

.cl-doc-vol-body .cl-show-notes {
  margin-top: 0;
  padding-left: 1em;
}

.cl-doc-vol-body .cl-show-notes a{
  display: block;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transtion: 0.5s;
}

.cl-doc-vol-body .cl-show-notes a:hover{
  color: #cccccc;
}

/* for footer */
/*footer.cl-doc-footer {*/
  /*background-color: #333333;*/
  /*color: #fff;*/
  /*height: 88px;*/
  /*padding-top: 24px;*/
  /*font-size: 12px;*/
/*}*/

/*footer.cl-doc-footer .cl-icon-logo {*/
  /*float: right;*/
/*}*/

/*@media (max-width: 640px) {*/
  /* スマホの場合、フッターのアイコンを横並びは厳しいので縦にする */
  /*footer.cl-doc-footer .cl-row [class^=cl-col] {*/
    /*display: block;*/
    /*padding-left: 10px;*/
    /*padding-bottom: 10px;*/
  /*}*/
/*}*/

/* for copyright */
footer.cl-copyright-footer {
  /*height: 34px;*/
  /*background-color: #2c2c2c;*/
  /*color: #fff;*/
  text-align: center;
  font-size: 12px;
  padding-bottom: 14px;
}

